*.wspos
*.bat
project/settings/stm32-usb-dualcdc.Debug.driver.xcl
*.xcl
project/settings/stm32-usb-dualcdc.wsdt
*.dni
project/settings/stm32-usb-dualcdc.dbgdt
*.crun
project/Debug/Obj/usbd_ioreq.pbi.cout
*.pbi
project/Debug/Obj/usbd_ioreq.o
*.cout
project/Debug/Obj/usbd_ctlreq.o
*.o
project/Debug/Obj/stm32-usb-dualcdc.pbd.browse
*.pbd
*.hex
project/Debug/Exe/stm32-usb-dualcdc.out